<!DOCTYPE html>
<html>
  <head>
    <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }
    .but {
    background-color: #333;
    border-width: 1px;
    border: #333;
    height: 20px;
    width: 90px;
    }

    li form {
      display: block;
      color: #111;
      text-align: center;
      padding: 14px 16px;
      text-decoration: red;
    }

    li form:hover {
      background-color: #111;
    }

    table, th, td {
      border: 1px solid black;
      table-layout: fixed;
      height: 30px;
      width: 250px;
      text-align: center;
    }

    #tablePosts {
        position: fixed;
        left: 460px;
        top: 10%;
        overflow-x: scroll;
        overflow-y: auto;
    }


    #header {
        text-align: center;
    }
    </style>
    <title>Acebook!</title>
  </head>
  <body>
    <h1 id="header">Welcome to acebook, $username</h1>
    <ul>
    <li>
    <form action="/createbutton" method="POST">
        <input class="but" type="submit" name="createButton" value="Create a Post">
    </form>
</li>
<li>
    <form action="/signout" method="POST">
            <input type="submit" name="signout" value="Sign out">
        </form>
        </li>
        <li>
        <form action="/signin" method="POST">
                    <input type="submit" name="signin" value="Sign in">
                </form>
                </li>
                </ul>
    <section id="tablePosts">
         <table>
            <tr>
                <th>Posts</th>
                <th>Date</th>
            </tr>
            #foreach ( $i in $posts )
                <tr>
                    <td>$i.title $i.content</td>
                    <td>$i.datecreated</td>
                </tr>
            #end

         </table>
    </section>

  </body>
</html>