<!DOCTYPE html>
 <html>
     <head>
         <title>Sign Up</title>
     </head>
     <body>
         <h1>Sign Up for Acebook!</h1>
         <form action="/signedup" method="POST">
             <em>Username:</em>
             <br>
             <input type="text" name="username">
             <br>
             <em>Full name:</em>
             <br>
             <input type="text" name="full_name">
             <br>
             <em>Password:</em>
             <br>
             <input type="password" name="password">
             <br>
             <input type="submit" value="Submit">
         </form>
     </body>
 </html>