<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/stylesheet.css" >
        <title>Sign In</title>
    </head>
    <body style="background-color: #4d4d4d;">
        <h1>Sign In to Acebook!</h1>

        <ul>
                     <li>
                      <form action="/posts" method="POST">
                      <input class="navigation" type="submit" name="timeline" value="Timeline">
                       </form>
                       </li>
                     <li>
                     <form action="/createbutton" method="POST">
                         <input class="navigation" type="submit" name="createButton" value="Create a Post">
                     </form>
                 </li>

                         <li>
                         <form action="/signin" method="POST">
                                     <input class="navigation" type="submit" name="signin" value="Sign in">
                                 </form>
                                 </li>
                                 <li>
                                         <form action="/signup" method="POST">
                                                     <input class="navigation" type="submit" name="signup" value="Sign Up">
                                                 </form>
                                                 </li>
                                                 <li>
                                                     <form action="/signout" method="POST">
                                                             <input class="navigation" type="submit" name="signout" value="Sign out">
                                                         </form>
                                                         </li>
                                 </ul>

        <form action="/signedin" method="POST">
            <em>Username:</em>
            <br>
            <input type="text" name="username">
            <br>
            <em>Password:</em>
            <br>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>